<link rel="stylesheet" href="/css/help-service.css">
@using System.Web
@{
    ViewData["Title"] = "Допомога";
}
@model List<ArticleModel>
<div class="container">
    <div class="back">
        <h2>Розділ допомоги</h2>
        <div class="article-blocks">
            @{
                if (Model.Count != 0)
            {
            foreach (var article in Model.OrderByDescending(a => a.Id))
            {
                <div class="article-block">
                    <h3>@Html.Raw(HttpUtility.HtmlDecode(article.Title))</h3>
                    <p>@Html.Raw(HttpUtility.HtmlDecode(article.Description))</p>
                </div>
            }
            }
            else{
                    <div class="article-block">
                        <h3>Немає статей</h3>
                    </div>
            }}
        </div>
    </div>
</div>