@{
    ViewData["Title"] = "Послуги";
}
<div class="container">

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Допомога</h5>
                    <a href="/Service/Help" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Створити посилку</h5>
                    <a href="/Service/Create" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Розрахунок вартості посилки</h5>
                    <a href="/Service/Calculate" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Трекінг посилки</h5>
                    <a href="/Service/Tracking" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
        </div>
    </div>
