<link rel="stylesheet" href="/css/index-home.css">
@{
    ViewData["Title"] = "Головна";
}
@model ProjectDelivery.Models.TrackingModel
<div class="back-container">
    <div id="background">
        @if (!string.IsNullOrEmpty(TempData["UserNotification"] as string))
        {
            <div class="alert alert-success" id="alert" role="alert">
                @TempData["UserNotification"]
            </div>
        }
        <img id="fon" src="~/lib/images/Fon.png" alt="ProjectDelivery">    
        <div id="search-container">
            <h1 class="text-center">Пошук посилки</h1>
            <div class="row mt-5">
                <div class="tracking">
                    <form method="get" asp-controller="Service" asp-action="Tracking">
                        <div id="tracking-form">
                            <input type="text" class="form-control" id="tracking" placeholder="Введіть номер посилки" required asp-for="Id">
                            <button type="submit" class="btn btn-primary">Знайти</button>
                        </div>
                    </form>
                </div>
            </div>        
        </div>
    </div>
</div>
<div class="fif-back">
    <div class="tbuttons">
        <div class="buttons">
            <form method="get" asp-controller="Service" asp-action="Calculate">
                <button id="mainbtns" type="submit" class="btn btn-primary">
                    <img width="30px" src="~/lib/images/Coins.png" alt="ProjectDelivery">
                    <a>Розрахувати</a>
                </button>
            </form>
        </div>
        <div class="buttons">
            <form method="get" asp-controller="Service" asp-action="Help">
                <button id="mainbtns" type="submit" class="btn btn-primary">
                    <img width="30px" src="~/lib/images/Help.png" alt="ProjectDelivery">
                    <a>Допомога</a>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="back-container">
    <div class="container" id="under">        
        <div class="descr">
            <h3>Детальніше<br/> про послуги</h3>
            <p>На цій сторінці можна відстежувати відправлення по Україні. Для цього введіть у поле трек-номер, та натисніть кнопку «Знайти».</p>
        </div>
        <div class="btns">
            <div class="row" id="righter">
                <div class="img-btn">
                    <form method="post" asp-controller="Service" asp-action="Create">
                    <div type="submit" class="image-button" onclick="location.href='/Service/Create'">
                        <input type="hidden" name="TypePayment" value="True" />
                        <img src="~/lib/images/btn1.png" alt="ProjectDelivery">
                        <div class="button-text" id="express-text">Експрес<br />Доставка</div>
                        <div class="button-text-detail" id="detail-express">Докладніше>></div>
                    </div>
                    </form>
                </div>
                <div class="img-btn">
                    <div class="image-button" id="img-btn-under"onclick="location.href='/Service/Create'">
                        <img src="~/lib/images/btn2.png" alt="ProjectDelivery">
                        <div class="button-text" id="other-text">Доставка</div>
                        <div class="button-text-detail" id="detail-other">Докладніше>></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>