.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.btn-primary {
    background-color: #829DFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 170px;
}

.btn-primary:hover {
    background-color: #0056b3;
} 
.box {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    height: fit-content; 
}
h2{
    text-align: center;
    font-weight: bold;
}
.navig{
    padding-top: 15px;
}
 #package table {
        border-collapse: collapse;
        border-radius: 10px;
    }

    #package th, #package td {
        padding: 10px 15px;
    }

    #package thead th {
        font-weight: bold;
        text-align: center;
    }

    #package tbody th,
    #package tbody td {
        border: none;
        font-weight: lighter;
        text-align: center;
    }