@using Microsoft.AspNetCore.Identity
@inject SignInManager<AccModel> SignInManager
@inject UserManager<AccModel> UserManager
@model ProjectDelivery.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="container">
    <div class="row">
        <div class="col-md-2 offset-md-2">
            <div class="nav-links">
                <div class="mb-2">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="ViewProfile">Профіль</a>
                </div>
                <div class="mb-2">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="ChangePassword">Змінити пароль</a>
                </div>
                <div class="mb-2">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="HistoryPackages">Посилки</a>
                </div>
                @{
                    var user = await UserManager.GetUserAsync(User);
                    if (user.Roles == ProjectDelivery.Enums.EnumRoles.Admin)
                    {
                        <div class="mb-2">
                            <a class="btn btn-primary" asp-controller="Admin" asp-action="AdminPanel">Адмін панель</a>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-md-6">
            <h2>Зміна паролю</h2>

            <form asp-controller="Account" asp-action="ChangePassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CurrentPassword"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Зберегти</button>
            </form>

            @if (Model.Changed)
            {
                <div class="alert alert-success" role="alert">
                    Ваш пароль був успішно зміненний.
                </div>

                <p>
                    <a asp-controller="Home" asp-action="Index">Back to Home</a>
                </p>
            }
        </div>
    </div>
</div>