@using Microsoft.AspNetCore.Identity
@inject SignInManager<AccModel> SignInManager
@inject UserManager<AccModel> UserManager
@model ProjectDelivery.Models.LoginViewModel
@{
    ViewData["Title"] = "Вхід";
}
<link rel="stylesheet" href="/css/login-account.css">
<div class="container">
    <div class="box">
        @{if (!SignInManager.IsSignedIn(User)){
        <h2>@ViewData["Title"]</h2>
        <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" maxlength="14" data-mask="(999)-999-99-99" placeholder="(XXX)-XXX-XX-XX" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="********" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <div class="checkbox">
                    <label>
                        <input asp-for="RememberMe" /> @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
                    <div class="buttons">
                        <button type="submit" class="button-style ">Ввійти</button>
                        <p>Немає аккаунта? <a href="/Account/Register" class="button">Зареєструватися</a></p>

            </div>
                </form>
            }
        else
        {
            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <h1>Підтвердження</h1>
            <label>
                        Ви вже війшли як @UserManager.GetUserAsync(User).Result.Name, потрібно спочатку вийти, щоб увійти під іншим ім`ям.
            </label>
            <div class="buttons">
                        <button type="submit" class="button-style">Вийти</button>
                        <a href="/Home" class="button-style">Скасувати</a>
            </div>
            </form>
        }}
    </div>
</div>
